<li class="seat-item" ng-repeat="sl in subscribeList" >
    <p class="item-time"><span class="item-num" ng-bind="subscribeLeng - $index"></span><span ng-bind="sl.time">2016-06-08&nbsp;&nbsp;&nbsp;09:45-22:00</span></p>
    <p class="item-txt" ng-bind="sl.info">致未来图书馆1层测试自习室 2-8 座</p>
    <!-- <div ng-if="sl.notArrive == 1">-->
         <p class="item-txt"><span ng-bind="sl.timeCn"></span><span class="c-p" id="{{sl.timeid}}" ng-bind="sl.hm"></span></p>
     <!--</div>
     <div ng-if="sl.notArrive == 2">
         <div ng-if="sl.leaveFlag == 0">
             <p class="item-txt">距离离席时间<span class="c-p" ng-bind="sl.Endhm">3小时48分</span></p>
         </div>
         <div ng-if="sl.leaveFlag != 0  ">
             <p class="item-txt">距离回来签到时间<span class="c-p" ng-bind="sl.leavehm">3小时48分</span></p>
         </div>

     </div>-->
    <input id="{{$index}}input" type="hidden" value="{'time':'{{sl.time}}','info':'{{sl.info}}','seatNum':'{{sl.seatNum}}'}">
    <ul class="row mt-1">
        <li class="col t-c">
            <a class="btn has-icon c-b" href="javaScript:void(0);" inputFlag="{{$index}}input" ng-click="checkSeat()"><img align="absmiddle" src="img/see.png"/>查看座位</a>
        </li>
        <li class="col t-c">
            <a class="btn has-icon c-b" ng-click="changeSeat();" href="javaScript:void(0);"><img align="absmiddle" src="img/change.png"/>更换座位</a>
        </li><!--#open-modal1-->
    </ul>
    <ul class="row top-line">
        <li class="col t-c">
            <div ng-if="sl.notArrive == 1">
                <a class="btn has-icon c-b" href="#open-modal2" ng-click="cancel();"><img align="absmiddle" src="img/cancel.png"/>取消</a>
            </div>
            <div ng-if="sl.notArrive == 2">
                <a class="btn has-icon c-b" href="javaScript:void(0);" ng-click="checkOut();"><img align="absmiddle" src="img/cancel.png"/>离席</a>
            </div>
        </li>
        <li class="col t-c">
            <a class="btn has-icon c-b" ng-click="contract();" href="javaScript:void(0);"><img align="absmiddle" src="img/edit.png"/>续约</a>
        </li>
        <li class="col t-c">
            <div ng-if="sl.notArrive == 1">
                <a class="btn has-icon c-b" ng-click="checkIn();" href="javaScript:void(0);"><img align="absmiddle" src="img/port.png"/>签到</a>
            </div>

            <div ng-if="sl.notArrive == 2">

                <div ng-if="sl.leaveFlag != 0">
                    <a class="btn has-icon c-b" ng-click="checkIn();" href="javaScript:void(0);"><img align="absmiddle" src="img/port.png"/>签到</a>
                </div>
                <div ng-if="sl.leaveFlag == 0">
                    <a class="btn has-icon c-b"  href="javaScript:void(0);"><img align="absmiddle" src="img/port.png"/>已签</a>
                </div>
            </div>
        </li>
    </ul>

</li>
